.DS_Store
.DS_Store
.DS_Store
PlanarDataClassificationWithOneHiddenLayer/PlanarDataClassificationWithOneHiddenLayer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PlanarDataClassificationWithOneHiddenLayer/PlanarDataClassificationWithOneHiddenLayer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PlanarDataClassificationWithOneHiddenLayer/PlanarDataClassificationWithOneHiddenLayer.xcodeproj/project.xcworkspace/xcuserdata/sugulee.xcuserdatad/UserInterfaceState.xcuserstate
PlanarDataClassificationWithOneHiddenLayer/PlanarDataClassificationWithOneHiddenLayer.xcodeproj/xcuserdata/sugulee.xcuserdatad/xcschemes/xcschememanagement.plist
